body {
    font-family: 'open sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(21, 26, 39);
    height: 80px;
}

#main-header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-header nav ul li {
    margin: 0 20px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(238, 164, 80);
    text-transform: uppercase;
}

#main-header nav a {
    font-size: 20px;
    color: rgb(185, 131, 31);
}

#main-header nav a:hover {
    font-weight: bold;
}

main h1 {
    text-align: center;
    font-size: 48px;
    color: rgb(238, 164, 80);
}

#latest-products {
    width: 80%;
    margin: 50px auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.food-items {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    overflow: hidden;
}

.food-items img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.food-item-content {
    padding: 16px;
    text-align: center;
}

.btn {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: rgb(228, 157, 44);
}

.btn:hover {
    font-weight: bold;
    color: black;
}