body {
    font-family: 'open sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(21, 26, 39);
    height: 5rem;
}

#main-header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-header nav ul li {
    margin: 0 1.25rem;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(238, 164, 80);
    text-transform: uppercase;
}

#main-header nav a {
    font-size: 1.25rem;
    color: rgb(185, 131, 31);
}

#main-header nav a:hover {
    font-weight: bold;
}

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 26, 39);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer a {
    color: white;
    font-size: 2rem;
}


/* Using target to open the side drawer */

#side-drawer:target {
    display: block;
}

#side-drawer li {
    margin: 1rem 0;
}

#side-drawer ul {
    list-style: none;
    margin: 0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Hamburger menu CSS to show over the id target selector */

#side-drawer header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
}

main h1 {
    text-align: center;
    font-size: 48px;
    color: rgb(238, 164, 80);
}

#latest-products {
    width: 60%;
    margin: 4rem auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.food-items {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    overflow: hidden;
}

.food-items img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.food-item-content {
    padding: 1rem;
    text-align: center;
}

.food-item-content h2 {
    margin: 0 0 1rem 0;
}

.btn {
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: rgb(228, 157, 44);
}

.btn:hover {
    font-weight: bold;
    color: black;
}

.menu-btn {
    display: none;
}


/* max-width means, if screen size is below or equal to value defined then the css should be applied */

@media (max-width: 48rem) {
    #latest-products ul {
        grid-template-columns: 100%;
    }
    main h1 {
        font-size: 1.5rem;
    }
    #main-header nav {
        display: none;
    }
    .menu-btn {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 3rem;
        width: 3rem;
    }
    .menu-btn span {
        background-color: white;
        height: 3px;
        width: 100%;
    }
}